<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>XtraFinder_ShowStatusBarIcon</key>
	<true/>
	<key>XtraFinder_XFAttributesMenuPlugin</key>
	<true/>
	<key>XtraFinder_XFBackspaceToGoBackPlugin</key>
	<true/>
	<key>XtraFinder_XFBrowserViewColorPlugin</key>
	<false/>
	<key>XtraFinder_XFCollapseAllActionPlugin</key>
	<false/>
	<key>XtraFinder_XFColorfulSidebarPlugin</key>
	<true/>
	<key>XtraFinder_XFCopyPathMenuPlugin</key>
	<true/>
	<key>XtraFinder_XFCopyToActionPlugin</key>
	<true/>
	<key>XtraFinder_XFCutAndPastePlugin</key>
	<true/>
	<key>XtraFinder_XFDualWindowActionPlugin</key>
	<true/>
	<key>XtraFinder_XFEnterToOpenPlugin</key>
	<true/>
	<key>XtraFinder_XFFitColumnWidthPlugin</key>
	<false/>
	<key>XtraFinder_XFFitColumnWidthPlugin_Name</key>
	<true/>
	<key>XtraFinder_XFFolderItemCountPlugin</key>
	<true/>
	<key>XtraFinder_XFGoUpToolbarButtonPlugin</key>
	<true/>
	<key>XtraFinder_XFLabelShortcutsPlugin</key>
	<true/>
	<key>XtraFinder_XFLabelsInSidebarPlugin</key>
	<true/>
	<key>XtraFinder_XFMakeSymbolicLinkActionPlugin</key>
	<true/>
	<key>XtraFinder_XFNewFileActionPlugin</key>
	<true/>
	<key>XtraFinder_XFNewTerminalActionPlugin</key>
	<true/>
	<key>XtraFinder_XFNewTerminalActionPlugin_TerminalApp</key>
	<integer>1</integer>
	<key>XtraFinder_XFOpenInNewWindowPlugin</key>
	<true/>
	<key>XtraFinder_XFPathBarBreadcrumbMenuPlugin</key>
	<false/>
	<key>XtraFinder_XFRenameActionPlugin</key>
	<true/>
	<key>XtraFinder_XFSelectActionPlugin</key>
	<true/>
	<key>XtraFinder_XFShowAllFilesActionPlugin</key>
	<true/>
	<key>XtraFinder_XFSizeOfSelectedItemsInStatusBarPlugin</key>
	<true/>
	<key>XtraFinder_XFSpringLoadedPathBarPlugin</key>
	<false/>
	<key>XtraFinder_XFTabPlugin</key>
	<true/>
	<key>XtraFinder_XFTabPlugin_MiddleClickOpenInSecondPanel</key>
	<false/>
	<key>XtraFinder_XFTabPlugin_NarrowTabBar</key>
	<true/>
	<key>XtraFinder_XFTabPlugin_NewTabShortcut</key>
	<dict>
		<key>keyCharsIgnoringModifiers</key>
		<string>t</string>
		<key>keyCode</key>
		<integer>17</integer>
		<key>modifierFlags</key>
		<integer>1048576</integer>
	</dict>
	<key>XtraFinder_XFTabPlugin_NewTabWithSamePath</key>
	<true/>
	<key>XtraFinder_XFTabPlugin_PinnableWindow_Slide</key>
	<true/>
	<key>XtraFinder_XFTabPlugin_PreferOpenNewWindow</key>
	<false/>
	<key>XtraFinder_XFTabPlugin_ReopenClosedTabShortcut</key>
	<dict>
		<key>keyCharsIgnoringModifiers</key>
		<string>t</string>
		<key>keyCode</key>
		<integer>17</integer>
		<key>modifierFlags</key>
		<integer>1179648</integer>
	</dict>
	<key>XtraFinder_XFTabPlugin_SaveOpenTabs</key>
	<true/>
	<key>XtraFinder_XFTabPlugin_SelectNextTabShortcut</key>
	<dict>
		<key>keyCharsIgnoringModifiers</key>
		<string>	</string>
		<key>keyCode</key>
		<integer>48</integer>
		<key>modifierFlags</key>
		<integer>262144</integer>
	</dict>
	<key>XtraFinder_XFTabPlugin_SelectPreviousTabShortcut</key>
	<dict>
		<key>keyCharsIgnoringModifiers</key>
		<string>	</string>
		<key>keyCode</key>
		<integer>48</integer>
		<key>modifierFlags</key>
		<integer>393216</integer>
	</dict>
	<key>XtraFinder_XFTabPlugin_ShiftClickOpenInSecondPanel</key>
	<false/>
	<key>XtraFinder_XFTabPlugin_ShowPinButton</key>
	<true/>
	<key>XtraFinder_XFTabPlugin_ShowSecondSidebar</key>
	<true/>
	<key>XtraFinder_XFTabPlugin_SidebarWidth</key>
	<real>197</real>
	<key>XtraFinder_XFTabPlugin_ToggleDualPanelShortcut</key>
	<dict>
		<key>keyCharsIgnoringModifiers</key>
		<string>u</string>
		<key>keyCode</key>
		<integer>32</integer>
		<key>modifierFlags</key>
		<integer>1048576</integer>
	</dict>
	<key>XtraFinder_XFTabPlugin_UseSelectTabShortcuts</key>
	<true/>
	<key>XtraFinder_XFToolbarButtonService</key>
	<true/>
	<key>XtraFinder_XFToolbarButtonService_Configuration</key>
	<dict>
		<key>Identifiers</key>
		<array/>
		<key>Index</key>
		<integer>9223372036854775807</integer>
	</dict>
	<key>XtraFinder_XFTransparentWindowPlugin</key>
	<false/>
</dict>
</plist>
